/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.w-600px {
    width: 600px;
}